<a href="https://colab.research.google.com/github/Yashasviravipati/My-Store/blob/main/Assignment2(PDS).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**ASSIGNMENT 2**

**1, Importing the dataset file**

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train.csv')

a, Look for the missing values in all the columns and either impute them (replace with mean,
median, or mode) or drop them. Justify your action for this task.

In [3]:
print("Missing values before handling:")
print(df.isnull().sum())

Missing values before handling:
Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In this dataset, missing values in the Mileage, Engine, and Power columns were imputed using the median since they are continuous numerical features and median is more robust to outliers than mean. The Seats column, being a categorical numerical feature, was imputed using the mode, as it represents the most frequently occurring value and maintains consistency. The New_Price column was dropped due to over 83% missing values, making imputation unreliable and potentially misleading. These actions ensure data completeness while preserving accuracy and reducing bias in the analysis.

In [5]:
df.drop('New_Price', axis=1, inplace=True)
df.dropna(inplace=True)

In [6]:
print("Missing values after cleaning:")
print(df.isnull().sum())

Missing values after cleaning:
Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

b, Remove the units from some of the attributes and only keep the numerical values (for
example remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from
“New_price”).

In [19]:
# Convert the relevant columns to string type before using .str accessor
df['Mileage'] = df['Mileage'].astype(str).str.replace(r'\s+[a-zA-Z/]+', '', regex=True)
df['Engine'] = df['Engine'].astype(str).str.replace(r'\s+CC', '', regex=True)
df['Power'] = df['Power'].astype(str).str.replace(r'\s+bhp', '', regex=True)
df.head()
# Convert 'Mileage', 'Engine', and 'Power' columns to numeric
df['Mileage'] = pd.to_numeric(df['Mileage'], errors='coerce')
df['Engine'] = pd.to_numeric(df['Engine'], errors='coerce')
df['Power'] = pd.to_numeric(df['Power'], errors='coerce')

Replace the missing values.

In [20]:
df['Mileage'].fillna(df['Mileage'].median(), inplace=True)
df['Engine'].fillna(df['Engine'].median(), inplace=True)
df['Power'].fillna(df['Power'].median(), inplace=True)
df['Seats'].fillna(df['Seats'].mode()[0], inplace=True)

<ipython-input-20-792aaa5fe4e2>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Mileage'].fillna(df['Mileage'].median(), inplace=True)
<ipython-input-20-792aaa5fe4e2>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Engine'].fillna(df['Engine'].median(), inplace=True)
<ipython-input-20-792aaa5fe4e2>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Power'].fillna(df['Power'].median(), inplace=True)
<ipython-input-20-792aaa5fe4e2>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Seats'].fillna(df['Seats'].mode()[0], inplace=True)

In [22]:
print(df.isnull().sum())

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [23]:
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,3.50

c, Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot
encoded value.

In [24]:
fuel_mapping = {'Diesel': 0, 'Petrol': 1, 'Electric': 2}
df['Fuel_Type'] = df['Fuel_Type'].replace(fuel_mapping)

<ipython-input-24-0a4baad1f15d>:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Fuel_Type'] = df['Fuel_Type'].replace(fuel_mapping)

In [25]:
transmission_mapping = {'Manual': 0, 'Automatic': 1}
df['Transmission'] = df['Transmission'].replace(transmission_mapping)

<ipython-input-25-a4a43e092b66>:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Transmission'] = df['Transmission'].replace(transmission_mapping)

In [26]:
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,First,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,1,0,First,13.00,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,First,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,Second,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,First,23.08,1461.0,63.10,5.0,3.50

d, Create one more feature and add this column to the dataset (you can use mutate function in
R for this). For example, you can calculate the current age of the car by subtracting “Year” value
from the current year.

In [28]:
from datetime import datetime
current_year = datetime.now().year
df['Car_Age'] = current_year - df['Year']

In [29]:
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Car_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,First,19.67,1582.0,126.20,5.0,12.50,10
1,2,Honda Jazz V,Chennai,2011,46000,1,0,First,13.00,1199.0,88.70,5.0,4.50,14
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,First,20.77,1248.0,88.76,7.0,6.00,13
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,Second,15.20,1968.0,140.80,5.0,17.74,12
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,First,23.08,1461.0,63.10,5.0,3.50,12

e, Perform select, filter, rename, mutate, arrange and summarize with group by operations (or
their equivalent operations in python) on this dataset.

In [30]:
#select
selected_df = df[['Name', 'Location', 'Year', 'Mileage', 'Engine', 'Power', 'Car_Age', 'Price']]
print(selected_df.head())

                               Name    Location  Year  Mileage  Engine  \
0  Hyundai Creta 1.6 CRDi SX Option        Pune  2015    19.67  1582.0
1                      Honda Jazz V     Chennai  2011    13.00  1199.0
2                 Maruti Ertiga VDI     Chennai  2012    20.77  1248.0
3   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013    15.20  1968.0
4            Nissan Micra Diesel XV      Jaipur  2013    23.08  1461.0

    Power  Car_Age  Price
0  126.20       10  12.50
1   88.70       14   4.50
2   88.76       13   6.00
3  140.80       12  17.74
4   63.10       12   3.50

In [31]:
#filter
filtered_df = df[(df['Power'] > 100) & (df['Car_Age'] < 5)]
print(filtered_df[['Name', 'Power', 'Car_Age']].head())

Empty DataFrame
Columns: [Name, Power, Car_Age]
Index: []

In [32]:
#rename
df_renamed = df.rename(columns={'Name': 'Car_Model', 'Price': 'Selling_Price'})
print(df_renamed[['Car_Model', 'Selling_Price']].head())

                          Car_Model  Selling_Price
0  Hyundai Creta 1.6 CRDi SX Option          12.50
1                      Honda Jazz V           4.50
2                 Maruti Ertiga VDI           6.00
3   Audi A4 New 2.0 TDI Multitronic          17.74
4            Nissan Micra Diesel XV           3.50

In [ ]:
#Mutate
#Added Age of the Car

In [33]:
#Arrange
arranged_df = df.sort_values(by='Power', ascending=False)
print(arranged_df[['Name', 'Power']].head())

                                 Name  Power
5620       Lamborghini Gallardo Coupe  560.0
5368  Bentley Continental Flying Spur  552.0
2040          Porsche Cayenne Turbo S  550.0
4942  Jaguar XJ 5.0 L V8 Supercharged  503.0
68    Porsche Cayenne 2009-2014 Turbo  500.0

In [34]:
#summarize
summary = df.groupby('Fuel_Type').agg({
    'Price': 'mean',
    'Mileage': 'mean',
    'Power': 'mean',
    'Car_Age': 'mean'
}).reset_index()

summary.columns = ['Fuel_Type', 'Avg_Price', 'Avg_Mileage', 'Avg_Power', 'Avg_Age']
print(summary)

   Fuel_Type  Avg_Price  Avg_Mileage   Avg_Power    Avg_Age
0          0  12.958496    18.670165  127.912297  11.199873
1          1   5.773416    17.650942   97.106407  11.909228